// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
body {
  @import 'select2'
}
body, textarea, fieldset, input {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  // font-family: sans-serif;
}
h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #657383;
  color: #fff;
  padding: 5px 10px ;
  font-size: 24px;
}
fieldset {
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  // border: 5px solid #1F497D;
  border: 1px solid #657383;;
  background: #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

fieldset legend {
  background: #657383;
  color: #fff;
  padding: 5px 10px ;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #ddd;
  margin-left: 20px;
}

.button {
   border-top: 0px solid #357ec7;
   border-right: 0px;
   border-bottom: 0px;
   border-left: 0px;
   background: #357ec7;
   // background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   // background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   // background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   // background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   // background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   // padding: 8.5px 17px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 5px;
   // -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   // -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   // box-shadow: rgba(0,0,0,1) 0 1px 0;
   // text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 12px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
tr.post-row td {
  border-bottom:1px solid black;
}
td.twitter-gis {
  background: #ffa500;
}

td.twitter-wr {
  background: #f87431;
}

td.linkedin {
  background: #3bb9ff;
}

td.facebook-gis {
  background: #99c6ae;
}

td.facebook-wr {
  background: #89c35c;
}

td.none {
  background: #ffff00;
}
td.draft {
  background: #ffff00;
}
td.final {
  background: #ffa500;
}
td.posted {
  background: #99c6ae;
}
.no-platform {
  background: #ffff00;
}
.amber-background {
  background: #f87431;
}

.red-background {
  background: red;
}